---
db_name : 

bot:
  token : 
  botname : 
  admin_id :

proxmox:
  host : 
  node : 
  user : 
  password:

template_vm:
    user: 
    password: 
    vm_id: 
    template_vms:
      - name : 
        vm_id : 
      - name : 
        vm_id : 
