---
db_name :
bot_info :
  token : #the token name here 
  botname : servidora 
  admin_id:

proxmox:
  host:
  node:
  user:
  password:
  vm_id:
  template_vms:
    - name : 'Ubuntu 20.4'
      vm_id : 9100


